.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 30px 0px;
  border-bottom: 1px solid gray;
}

.top_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.date {
  font-size: 14px;
  color: gray;
}

.content {
  padding: 15px 0px;
}

.delete_btn {
  width: 120px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
}

.delete_btn:hover {
  color: rgba(229, 9, 20);
}
