.container {
  max-width: 800px;
  margin: 0px auto;
  padding: 0px 20px;
}

.container > header {
  padding: 20px 0px;
}

.container > header > a {
  color: rgb(229, 9, 20);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
