.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.loading img {
  width: 45px;
  height: 45px;
}
